ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRY = 
REFRESH_TOKEN_EXPIRY = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_CLOUD_NAME = 
CORS_ORIGIN = 
REDIS_URL =
REDIS_PASS = 
AVATAR_URL =  "https://ui-avatars.com/api"